.widget {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 100px;
    background-color: #f5f5f5;
  
    .intro{
      font-size: 25px;
      color: #333;
      text-align: center;
      line-height: 1.5;
    }
  }
  